

/*=========VARIABLES=========*/

  /*---------COLORSS-------*/
  $primary: hsl(290, 73%, 47%);
  $secondary: hsl(208, 100%, 97%);
  $white: hsl(0, 0%, 100%);
  $bg-light: hsl(0, 9%, 96%);
  $bg: hsl(224, 54%, 93%);
  $bgDark: hsl(219, 17%, 24%);
  $dark: hsl(230, 5%, 22%);
  $gray: hsl(0, 2%, 73%);
  $black: #000;
  $radius: 0.5rem;
  $toggleColor: #fff;
  $textColor: #ccc;
  /*------TRANSITIONS-------*/
  $trans2: all 0.2s ease;
  $trans3: all 0.3s ease;
  $trans4: all 0.4s ease;
  $trans5: all 0.5s ease;